In [ ]:
CREATE DATABASE CollegeAdmissionSystem;
USE CollegeAdmissionSystem;

In [ ]:
-- Create Student Table
CREATE TABLE Student (
    student_id INT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    date_of_birth DATE NOT NULL,
    email VARCHAR(100) UNIQUE,
    phone_number VARCHAR(15) CHECK (LENGTH(phone_number) = 10)
);

-- Create Course Table
CREATE TABLE Course (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100) NOT NULL,
    description TEXT,
    credit_hours INT CHECK (credit_hours BETWEEN 1 AND 5)
);

-- Create Department Table
CREATE TABLE Department (
    dept_id INT PRIMARY KEY,
    dept_name VARCHAR(100) UNIQUE,
    office_location VARCHAR(100)
);

-- Create Faculty Table
CREATE TABLE Faculty (
    faculty_id INT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    specialization VARCHAR(50),
    email VARCHAR(100) UNIQUE,
    phone_number VARCHAR(15) CHECK (LENGTH(phone_number) = 10)
);

-- Create Program Table
CREATE TABLE Program (
    program_id INT PRIMARY KEY,
    program_name VARCHAR(100) NOT NULL,
    program_type VARCHAR(50) DEFAULT 'Undergraduate'
);

-- Create Admission Table
CREATE TABLE Admission (
    admission_id INT PRIMARY KEY,
    admission_date DATE NOT NULL,
    status VARCHAR(20) DEFAULT 'Pending',
    student_id INT,
    FOREIGN KEY (student_id) REFERENCES Student(student_id) ON DELETE CASCADE
);

-- Create Course_Admission Table (many-to-many relationship between Admission and Course)
CREATE TABLE Course_Admission (
    admission_id INT,
    course_id INT,
    PRIMARY KEY (admission_id, course_id),
    FOREIGN KEY (admission_id) REFERENCES Admission(admission_id),
    FOREIGN KEY (course_id) REFERENCES Course(course_id)
);

In [ ]:
INSERT INTO Student (student_id, name, date_of_birth, email, phone_number)
VALUES 
(1, 'Aarav Sharma', '2002-05-15', 'aarav.sharma@gmail.com', '9876543210'),
(2, 'Saanvi Patel', '2003-07-22', 'saanvi.patel@yahoo.com', '9123456789'),
(3, 'Vivaan Singh', '2001-11-08', 'vivaan.singh@hotmail.com', '9988776655'),
(4, 'Isha Nair', '2002-01-29', 'isha.nair@outlook.com', '9871234567'),
(5, 'Anika Rao', '2000-09-10', 'anika.rao@gmail.com', '9765432101');

In [ ]:
INSERT INTO Course (course_id, course_name, description, credit_hours)
VALUES
(101, 'Data Structures', 'Study of data organization techniques', 4),
(102, 'Database Management Systems', 'Introduction to relational databases', 3),
(103, 'Operating Systems', 'Principles of OS design and management', 4),
(104, 'Web Development', 'Basics of HTML, CSS, JavaScript', 3),
(105, 'Software Engineering', 'Software development lifecycle and practices', 4);

In [ ]:
INSERT INTO Department (dept_id, dept_name, office_location)
VALUES
(201, 'Computer Science', 'Building A - Room 101'),
(202, 'Mechanical Engineering', 'Building B - Room 202'),
(203, 'Electrical Engineering', 'Building C - Room 303'),
(204, 'Civil Engineering', 'Building D - Room 404'),
(205, 'Information Technology', 'Building A - Room 102');