In [19]:
import pandas as pd 
import numpy as np

df = pd.read_csv("Set-2-program-2 Kmeans.csv")
df.head()

,id,first_name,last_name,telephone,address,city,state,zip,latitude,longitude
0,1,Kaiya,Snow,(716) 201-1212,6231 Tonawanda Creek Rd #APT 308,Lockport,NY,14094,43.08926,-78.69313
1,2,Dean,Roy,(716) 201-1588,6884 E High St,Lockport,NY,14094,43.16245,-78.65036
2,3,Eden,Paul,(716) 202-4596,4647 Southwestern Blvd #APT 350,Hamburg,NY,14075,42.76003,-78.83194
3,4,Bryanna,Higgins,(716) 203-7041,418 Park Ave,Dunkirk,NY,14048,42.48279,-79.33088
4,5,Elisabeth,Lee,(716) 203-7043,36 E Courtney St,Dunkirk,NY,14048,42.48299,-79.31928

In [23]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          118 non-null    int64
 1   first_name  118 non-null    object
 2   last_name   118 non-null    object
 3   telephone   118 non-null    object
 4   address     118 non-null    object
 5   city        118 non-null    object
 6   state       118 non-null    object
 7   zip         118 non-null    int64
 8   latitude    118 non-null    float64
 9   longitude   118 non-null    float64
dtypes: float64(2), int64(2), object(6)
memory usage: 9.3+ KB

In [ ]:
import matplotlib.pyplot as plt
#pair plot 
plt.scatter(, , color = 'blue', label = 'Actual')
plt.scatter(, , color = 'red', label = 'Predicted')

#boxPlot


# 3. Age distribution
plt.subplot(2, 2, 3)
plt.histplot(df[''].dropna(), kde=True)
plt.title('Age Distribution')

In [22]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

X = pd.DataFrame(df.data, columns=df.feature_names)


inertias = []
silhouette_scores = []

for k in range(2, 9): 
    kmeans = KMeans(n_clusters=k, random_state=42)
    labels = kmeans.fit_predict(X)
    inertias.append(kmeans.inertia_)
    silhouette_avg = silhouette_score(X, labels)
    silhouette_scores.append(silhouette_avg)
    print(f"Clusters: {k}, Inertia: {kmeans.inertia_:.2f}, Silhouette Score: {silhouette_avg:.3f}")

AttributeError: 'DataFrame' object has no attribute 'data'