In [1]:
import pandas as pd
import numpy as np

(1) Write a program to create a Pandas Series having 20 random numbers in the 
range of 1 and 50.

In [2]:
random_series = pd.Series(np.random.randint(1, 51, 10))

print("Random Series:")
print(random_series)

Random Series:
0     3
1    44
2    16
3    40
4    33
5    35
6    31
7    23
8    17
9    26
dtype: int32

Given the following Pandas Series S1 and S2, write a Python program to find its product (multiplication).

In [3]:
S1 = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])
S2 = pd.Series([5, 4, 6, 8], index=['A', 'B', 'C', 'D'])

# Calculate the product of S1 and S2
product = S1 * S2

print("\nS1:")
print(S1)
print("\nS2:")
print(S2)
print("\nProduct of S1 and S2:")
print(product)

S1:
A    10
B    20
C    30
D    40
dtype: int64

S2:
A    5
B    4
C    6
D    8
dtype: int64

Product of S1 and S2:
A     50
B     80
C    180
D    320
dtype: int64

Write a program in Pandas to create this series.

In [4]:
subjects = ['ENGLISH', 'HINDI', 'MATHS', 'SCIENCE']
marks = [75, 78, 82, 86]

subject_series = pd.Series(marks, index=subjects)

print("\n3. Subject Series:")
print(subject_series)

3. Subject Series:
ENGLISH    75
HINDI      78
MATHS      82
SCIENCE    86
dtype: int64

From the given data (Company name, and profit mentioned in crores), create 
a Series object using Pandas and write a command which will display the 
name of the company having profit > 200 crores.

In [5]:
def company_profits():
    # Create a Series object with company profits
    companies = ['TCS', 'Reliance', 'L & T', 'Wipro', 'Capgemini', 'Accenture', 'DNV', 'KPMG']
    profits = [350, 800, 300, 150, 400, 200, 250, 150]
    company_series = pd.Series(profits, index=companies)
    
    # Display companies with profit >= 200 crores
    high_profit_companies = company_series[company_series >= 200]
    print("Companies with profit >= 200 crores:")
    print(high_profit_companies)

company_profits()

Companies with profit >= 200 crores:
TCS          350
Reliance     800
L & T        300
Capgemini    400
Accenture    200
DNV          250
dtype: int64

The following tables illustrate the contribution given by different organizations for charity. Your institution has decided to donate more contribution by 
each section, so donations have been doubled. Write code to create a Pandas 
Series object that stores the updated contribution amount as the values and 
section name as indexes with data types that can incorporate decimal values.

In [6]:
def charity_contributions():
    # Create a Series object with doubled charity contributions
    organizations = ['Organization 1', 'Organization 2', 'Organization 3', 'Organization 4', 'Organization 5']
    amounts = [28800, 38700, 17800, 46500, 37500]
    doubled_amounts = [amount * 2 for amount in amounts]
    
    # Create Pandas Series with doubled contributions
    contributions_series = pd.Series(doubled_amounts, index=organizations, dtype=float)
    
    print("\nUpdated charity contributions (doubled):")
    print(contributions_series)

charity_contributions()

Updated charity contributions (doubled):
Organization 1    57600.0
Organization 2    77400.0
Organization 3    35600.0
Organization 4    93000.0
Organization 5    75000.0
dtype: float64

(6) Perform the following, for the given sales data (sales_data.csv attached). 

(a) Load the CSV file into a pandas DataFrame. 

(b) Calculate the total revenue for each product by multiplying Units Sold 
and Unit Price and add a new column Revenue to the DataFrame. 

(c) Find the average revenue per region by grouping the data by Region and 
computing the mean of the Revenue column 

(d) Determine which salesperson had the highest total revenue across all 
regions and products. Display the salesperson's name and total revenue.

In [7]:
df = pd.read_csv('sales_data.csv')

# (b) Calculate the total revenue for each product and add a new column Revenue
df['Revenue'] = df['Units Sold'] * df['Unit Price']

# (c) Find the average revenue per region
avg_revenue_per_region = df.groupby('Region')['Revenue'].mean()

# (d) Determine which salesperson had the highest total revenue
salesperson_revenue = df.groupby('Salesperson')['Revenue'].sum()
top_salesperson = salesperson_revenue.idxmax()
top_revenue = salesperson_revenue.max()

# Display results
print("DataFrame with Revenue column:")
print(df)

print("\nAverage Revenue per Region:")
print(avg_revenue_per_region)

print(f"\nSalesperson with highest total revenue: {top_salesperson}")
print(f"Total revenue: ${top_revenue:.2f}")

DataFrame with Revenue column:
     Product Region Salesperson  Units Sold  Unit Price     Month  Revenue
0     Laptop  North        John          30        1000   January    30000
1     Laptop  South       Emily          45        1000   January    45000
2    Monitor  North     Michael          20         300   January     6000
3    Monitor  South       Alice          25         300   January     7500
4      Mouse   East         Bob         200          25   January     5000
5   Keyboard   West       Susan         150         100   January    15000
6     Laptop  North        John          25        1000  February    25000
7     Laptop  South       Emily          35        1000  February    35000
8    Monitor  North     Michael          15         300  February     4500
9    Monitor  South       Alice          30         300  February     9000
10     Mouse   East         Bob         250          25  February     6250
11  Keyboard   West       Susan         120         100  February    12000

Average Revenue per Region:
Region
East      5625.0
North    16375.0
South    24125.0
West     13500.0
Name: Revenue, dtype: float64

Salesperson with highest total revenue: Emily
Total revenue: $80000.00

• Task 1: Employee Attendance Data Analysis 
(a) Load the Excel file into a pandas DataFrame and display the first 
5 rows. 

(b) Calculate the total days present by each employee across all months 
and add a new column Total Days Present. 

(c) Determine the department with the lowest average days absent by 
grouping the data by Department and computing the mean of the Days Absent. 

(d) Filter the data to display only employees who were present for more 
than 20 days in any given month.

In [8]:
df = pd.read_csv('Data_pool.csv')
print("First 5 rows of the DataFrame:")
print(df.head())

# (b) Calculate the total days present by each employee across all months
total_days_present = df.groupby('EmployeeID')['Days Present'].sum()
df = df.merge(total_days_present.reset_index(name='Total Days Present'), on='EmployeeID')

print("\nDataFrame with Total Days Present column:")
print(df)

# (c) Determine the department with the lowest average days absent
avg_days_absent = df.groupby('Department')['Days Absent'].mean()
dept_lowest_absence = avg_days_absent.idxmin()
lowest_absence = avg_days_absent.min()

print("\nDepartment with lowest average days absent:")
print(f"{dept_lowest_absence}: {lowest_absence:.2f} days")

# (d) Filter the data to display employees present for more than 20 days in any month
employees_high_attendance = df[df['Days Present'] > 20]

print("\nEmployees present for more than 20 days in a month:")
print(employees_high_attendance)

First 5 rows of the DataFrame:
   EmployeeID     Name Department  Days Present  Days Absent    Month
0         101     John      Sales            20            2  January
1         102    Susan         HR            18            4  January
2         103    Emily      Sales            22            0  January
3         104  Michael         IT            21            1  January
4         105    Alice         HR            19            3  January

DataFrame with Total Days Present column:
   EmployeeID     Name Department  Days Present  Days Absent     Month  \
0         101     John      Sales            20            2   January
1         102    Susan         HR            18            4   January
2         103    Emily      Sales            22            0   January
3         104  Michael         IT            21            1   January
4         105    Alice         HR            19            3   January
5         101     John      Sales            19            3  February
6         102    Susan         HR            20            2  February
7         103    Emily      Sales            20            2  February
8         104  Michael         IT            21            1  February
9         105    Alice         HR            18            4  February

   Total Days Present
0                  39
1                  38
2                  42
3                  42
4                  37
5                  39
6                  38
7                  42
8                  42
9                  37

Department with lowest average days absent:
IT: 1.00 days

Employees present for more than 20 days in a month:
   EmployeeID     Name Department  Days Present  Days Absent     Month  \
2         103    Emily      Sales            22            0   January
3         104  Michael         IT            21            1   January
8         104  Michael         IT            21            1  February

   Total Days Present
2                  42
3                  42
8                  42

• Task 2: Product Inventory Management 

(a) Load the Excel file into a pandas DataFrame. 

(b) Identify products that need to be reordered by comparing Stock to 
Reorder Level and flagging them in a new column Needs Reorder.

(c) Find the supplier that provides the most number of products by 
grouping the data by Supplier and counting the number of products 
they supply. 

(d) Sort the DataFrame by Inventory Value in descending order and 
display the top 3 products with the highest inventory value.

In [9]:
import io

df = pd.read_csv('Data_pool1.csv')

# (b) Identify products that need to be reordered
df['Needs Reorder'] = df['Stock'] <= df['Reorder Level']

# (c) Find the supplier that provides the most number of products
supplier_product_count = df['Supplier'].value_counts()
top_supplier = supplier_product_count.index[0]
top_supplier_count = supplier_product_count.iloc[0]

print(f"Supplier providing the most products: {top_supplier} ({top_supplier_count} products)")

# (d) Sort by Inventory Value and display top 3 products
df['Inventory Value'] = df['Stock'] * df['Price']
top_3_inventory_value = df.sort_values('Inventory Value', ascending=False).head(3)

print("\nTop 3 products with highest inventory value:")
print(top_3_inventory_value[['Product Name', 'Inventory Value']])

# Display the entire DataFrame for reference
print("\nFull DataFrame:")
print(df)

Supplier providing the most products: TechSupplies (2 products)

Top 3 products with highest inventory value:
  Product Name  Inventory Value
0       Laptop          60000.0
4      Monitor          21000.0
1        Mouse           4000.0

Full DataFrame:
   ProductID Product Name     Category  Stock  Reorder Level   Price  \
0        201       Laptop  Electronics     50             20  1200.0
1        202        Mouse  Electronics    200            100    20.0
2        203        Bread    Groceries    150             50     1.5
3        204         Milk    Groceries    100             30     2.0
4        205      Monitor  Electronics     70             25   300.0
5        206       Cheese    Groceries     50             10     4.5

       Supplier  Needs Reorder  Inventory Value
0  TechSupplies          False          60000.0
1   Accessories          False           4000.0
2     FreshBake          False            225.0
3     DairyLand          False            200.0
4  TechSupplies          False          21000.0
5     DairyLand          False            225.0